# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env
.venv/

# IDEs
.vscode/
.idea/

# Jupyter Notebooks
.ipynb_checkpoints/

# Distribution / Packaging
dist/
build/
*.egg-info/

# Model Weights & Large Files
*.pt
*.pth
*.bin
*.h5
model_cache/
data/

# Logs
*.log
.env